.dataTables_paginate{
    padding-top: 5px;
}
.paginate_button{
    margin-left: 5px;
    border: 1px solid #000000;
    padding: 2px;
}
.paginate_active{
    margin-left: 5px;
    border: 1px solid #000000;
    padding: 2px;
    background: #2BB0D7;
}
.navdiv{
    height: 95px;
    width: 400px;
}
.option_img{
    width: 85px;
    height: 90px;
    padding: 2px;
    border: 1px solid #000000;
    margin-right: 10px;
    position: relative;
    float: left;
    text-align: center;
    background: #F5FFF2;
}
.option_img:hover{
    background: #D7EBD1;
}

.disabled_but{
    background: #ABABAB;
}
.disabled_but:hover{
    background: #ABABAB;
}